<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
</head>
<body>
    <h1>登陆</h1>
    <form action="" method="POST">
        <div>
            <label>账号
                <input type="text" name="username">
            </label>
        </div>
        <div>
            <label>密码
                <input type="password" name="password">
            </label>
        </div>
        <div>
            <input type="submit" value="提交">
        </div>
    </form>
    <div>{{.err}}</div>
</body>
</html>